@import "settings/mixins";
@import "settings/font-awesome/font-awesome.scss";



// fix js modal right padding

  body.modal-open-noscroll
  {
    margin-right: 0 !important;
    padding-right: 15px !important;

    overflow: hidden;
    //padding-right: 15px !important;
  }
  .modal-open-noscroll .navbar-default, .modal-open .navbar-default
  {
    margin-right: 0 !important;
    padding-right: 15px !important;

  }


  // Global properties tags and class
  ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  button {
    border: none;
    outline: 0;
    &:active { outline: 0;}
    &:hover { outline: 0; }
    &:focus { outline: 0;}
  }
  ul {
    list-style: none;
  }
  .fix-padding {
    padding: 0;
  }

  img, a, button {
    outline: none;
    &:hover {
      cursor: pointer;
      outline: none;
    }
  }
  .fix-padding {
    padding: 0;
  }


  /* Include Fonts  */

      // GothamPro

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf");
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff");
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf");
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf");
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.woff") format("woff");
}

      // MuseoSans

@font-face {
  font-family: "MuseoSansRegular";
  src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf");
  src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.woff") format("woff");
}
@font-face {
  font-family: "MuseoSansBold";
  src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf");
  src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff") format("woff");
}
@font-face {
  font-family: "MuseoSansBlack";
  src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.ttf");
  src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot#iefix") format("embedded-opentype");
  src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.woff") format("woff");
}

      // ProximaNova

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff");
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.woff") format("woff");
}
@font-face {
  font-family: "ProximaNovaBlack";
  src: url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.ttf");
  src: url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
  src: url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.eot#iefix") format("embedded-opentype");
  src: url("../fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff");
}

    // Font-face rus rubl
@font-face {
  font-family: "ALSRubl";
  src: url("../fonts/AlsRubl/rouble.otf");
  src: url("../fonts/AlsRubl/rouble.otf") format("truetype");
  src: url("../fonts/AlsRubl/rouble.woff");
}
    //Font-face Montserrat
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/montserrat-regular.ttf");
  src: url("../fonts/Montserrat/montserrat-regular.eot#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat/montserrat-regular.woff") format("woff");
  src: url("../fonts/Montserrat/montserrat-regular.ttf") format("truetype");
  src: url("../fonts/Montserrat/montserrat-regular.svg#Montserrat-Regular") format("svg");
}

    // Font Awesome

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/Awesome/FontAwesome.otf");
  }



  /*  Global Fonts   */

$gotham-pro-regular: "GothamProRegular";
$gotham-pro-bold: "GothamProBold";
$gotham-pro-black: "GothamProBlack";

$museo-sans-regular: "MuseoSansRegular";
$museo-sans-bold: "MuseoSansBold";
$museo-sans-black: "MuseoSansBlack";

$proxima-nova-regular: "ProximaNovaRegular";
$proxima-nova-bold: "ProximaNovaBold";
$proxima-nova-black: "ProximaNovaBlack";

$als-rubl-regular: "ALSRubl";
$montserrat-regular: "Montserrat-Regular";

  /* Global colors    */

$color-red: #de393d;


// Title block
.title {
  color: #2a2a2a;
  font-family: $museo-sans-black;
  font-size: 2.6em;
  line-height: 42px;

  @media #{$bootstrap-md} {
    font-size: 2.2em;
  }
  @media #{$bootstrap-xs} {
    width: 85%;
    margin: 0 auto;
    font-size: 1.75em;
    padding-bottom: 34px;
    text-align: center;
    line-height: 34px;
  }
  @media #{$bootstrap-nano} {
    font-size: 1.3em;
    width: 90%;
  }
}

// Orange line
.line {
  width: 80px;
  height: 2px;
  background-color: #ffa947;
  position: relative;
  top: 15px;

  @media #{$bootstrap-xs} {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
}
// Description block
.description {
  padding-top: 30px;
  color: #343c3b;
  font-family: $gotham-pro-regular;
  font-size: 1.7em;
  line-height: 48px;

  @media #{$bootstrap-md} {
    font-size: 1.5em;
  }
  @media #{$bootstrap-xs} {
    width: 70%;
    padding: 22px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    line-height: 27px;
  }
  @media #{$bootstrap-nano} {
    font-size: 1.1em;
    width: 80%;
  }
}

// button global

.btn-global {
  width: 100%;
  display: block;
  margin: 0 auto;
  font-family: $gotham-pro-bold;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 70px;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid #d12f32;
  box-shadow: 0 0 28.5px 3.5px rgba(0, 0, 0, 0.18);
  color: white;
  background-color: #de393d;

  &:hover {
    background-color: #de393d;
    opacity: 0.8;
  }
  &:active {
    background-color: #de393d;
    opacity: 0.6;
    outline: 0;
  }
  &:focus {
    background-color: #de393d;
  }
  @media #{$bootstrap-nano} {
    font-size: 1.1em;
  }
}

  /* Partials project */
@import "partials/popups";
@import "partials/header";
@import "partials/navbar";
@import "partials/mob-navbar";
@import "partials/home";
@import "partials/benefits";
@import "partials/gallery";
@import "partials/picture-property";
@import "partials/example";
@import "partials/video";
@import "partials/contact-map";
@import "partials/footer";


// Pages
@import "partials/catalog";
@import "partials/catalog-mob";
