.benefits {
  margin-top: -105px;
  padding: 135px 0 146px;
  background-color: whitesmoke;
  background: url('/img/paints.png') -1% bottom no-repeat,
              url('/img/baget.png') 99% top no-repeat;

  .row-padding {
    margin-top: 40px;
    margin-left: -1px;

    .benefits-card:nth-child(even) {
      background-color: #fafafa;
    }
    .benefits-card:nth-child(odd) {
      background-color: #f3f3f3;
    }
    .benefits-card:nth-child(3) {
      padding: 60px 10px 27px 39px;
    }
    .benefits-card:nth-child(6) {
      padding: 53px 10px 27px 22px;
      .card-icon {
        padding: 6px 15px 120px 0;
      }
    }
    .benefits-card::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 77px solid #0e8084;
      border-right: 124px solid transparent;
    }
    .benefits-card {
      width: 380px;
      height: 280px;
      padding: 57px 10px 27px 51px;
      .card-icon {
        padding: 0 15px 120px 0;
        float: left;
      }
      .card-title {
        font-family: $museo-sans-bold;
        font-size: 1.8em;
        line-height: 32px;
        color: #302e2e;
      }
      .card-description {
        padding-top: 8px;
        text-align: left;
        font-family: $gotham-pro-regular;
        font-size: 1.15em;
        line-height: 25px;
        color: #4d4d4d;
      }
    }
  }
}

@media #{$bootstrap-xs} {
  .benefits {
    padding: 60px 0 65px;
    background-color: #f1f1f1;
    background: url('/img/mobile/baget-mobile.png') top right no-repeat, url('/img/mobile/paint-mobile.png') bottom left no-repeat;
    .container-mobile {
      padding-left: 12.75%;
      padding-right: 12.75%;
      .title {
        width: 75%;
        margin: 0 auto;
        font-size: 1.5em;
        padding-bottom: 35px;
        text-align: center;
        line-height: 34px;
      }
      .line {
        margin: 0 auto;
      }
      .description {
        width: 65%;
        margin: 0 auto;
        padding-top: 30px;
        font-size: 1.125em;
        line-height: 27px;
        text-align: center;
      }
      .row-padding {
        padding-top: 50px;
        .benefits-card {
          margin-bottom: 35px;
          box-shadow: 0 26px 33.1px 4.9px rgba(0, 0, 0, 0.08);
        }
      }
    }
  }
}
@media (min-width: 315px) and (max-width: 465px) {
  .benefits .container-mobile .row-padding .benefits-card {
    padding-left: 10px;
    padding-right: 10px;
    .card-title {
      font-size: 1.2em;
      line-height: 24px;
    }
    .card-icon {
      padding-right: 10px;
    }
    .card-description {
      font-size: 0.85em;
      line-height: 22px;
    }
  }
}