.contact {
  padding: 0 0 56px;
  font-family: $museo-sans-regular;
  line-height: 27px;

  @media #{$bootstrap-xs} {
    padding-bottom: 35px;
    padding-top: 47px;

    .line { top: -15px };
    .title { padding-bottom: 32px;}
    .description { padding: 7px 0; width: 80%; }
  }

  .yandex-map {
    margin-top: 20px;
    margin-bottom: 60px;

    @media #{$bootstrap-xs} {
      height: 100vh !important;
      margin-bottom: 40px;
    }
    @media #{$bootstrap-xs} {
      .ymaps-2-1-47-map {
        height: 100vh !important;
      }
    }
    @media all and (orientation: landscape), all and (max-width: 991px)  {
      .ymaps-2-1-47-map {
        height: 100% !important;
      }
    }
    .img-balloon  {
      display: block;
    }
  }

  .questions {
    text-transform: uppercase;
    color: #181818;
    margin-left: -22px;
    font-size: 2.8em;

    @media #{$bootstrap-xs} {
      font-size: 2.3em;
      text-align: center;
      display: block;
      margin: 0 auto;
    }
    @media #{$bootstrap-nano} { font-size: 1.7em; }
  }
  .questions-link {
    font-size: 1.7em;
    text-decoration: underline;
    color: #3097c5;

    @media #{$bootstrap-xs} {
      display: block;
      text-align: center;
      padding-top: 20px;
    }
    @media #{$bootstrap-nano} {
      font-size: 1.4em;
    }
  }
}