.contact {
  padding: 0 0 61px;
  font-family: $museo-sans-regular;
  line-height: 27px;

  @media #{$bootstrap-xs} {
    padding-bottom: 33px;
    padding-top: 47px;

    .line { top: -15px };
    .title { padding-bottom: 32px;}
    .description { padding: 7px 0; width: 80%; }
  }

  .yandex-map {
    margin-top: 20px;
    margin-bottom: 60px;

    @media #{$bootstrap-xs} {
      height: 80vh !important;
    }
    @media #{$bootstrap-xs} {
      .ymaps-2-1-47-map {
        height: 100vh !important;
      }
    }
    @media all and (orientation: landscape), all and (max-width: 991px)  {
      .ymaps-2-1-47-map {
        height: 100% !important;
      }
    }
    .img-balloon  {
      display: block;
    }

    @media #{$bootstrap-nano} {
      //.ymaps-2-1-47-image-with-content {
      //  background-size: 100% 100%!important;
      //}
    }
  }

  .questions {
    text-transform: uppercase;
    color: #181818;
    font-size: 2.8em;

    @media #{$bootstrap-xs} {
      font-size: 2.3em;
      text-align: center;
    }
    @media #{$bootstrap-nano} { font-size: 1.7em; }
  }
  .questions-link {
    font-size: 1.7em;
    text-decoration: underline;
    color: #3097c5;

    @media #{$bootstrap-xs} {
      display: block;
      text-align: center;
      padding-top: 20px;
    }
  }
}