
.examples {
  padding-top: 104px;
  position: relative;

  @media #{$bootstrap-xs} {
    padding-top: 55px;

    .description {
      padding: 10px 0;
      width: 100%;
    }
    .line {
      top: -9px;
    }
    .title {
      max-width: 310px;
      padding-bottom: 35px;
      line-height: 31px;
    }
  }
  .example-img-right {
    position: absolute;
    top: 40%;
    right: 0;

    @media #{$bootstrap-xs} {
      display: none;
    }
  }

  .add-row-padding {
    padding-top: 40px;
  }

  .example-block {
    padding-bottom: 55px;

    @media #{$bootstrap-xs} {
      text-align: center;
      padding-bottom: 23px;
    }
    @media #{$bootstrap-nano} {

      margin: auto 5%;
      padding: 0 15px 27px !important;
      width: 90%;
    }
    .print-style {
      line-height: 35px;
    }
    .link-catalog {
      font-size: 1.3em;
      text-decoration: none;
    }
  }

  .example-block:first-child{

    .example-img {
      margin-top: 75px;
    }

    @media #{$bootstrap-xs} {
      .example-img {
        margin-top: 110px;
      }
    }
    @media #{$bootstrap-nano} {
      .example-img {
        margin-top: 35px;
      }
    }
   }
  /* 2,5,8 */
  .example-block:nth-child(3n-1) {
    padding-left: 30px;
    .btn-global {
      margin: 33px auto 0 50px;
      @media #{$bootstrap-md} {
        margin: 33px auto 0;
      }
      @media #{$bootstrap-xs} {
        margin: 0 auto;
      }
    }
  }
  .example-block:nth-child(3) {
    .example-img {
      margin-top: 45px
    }

    @media #{$bootstrap-xs} {
      .example-title {
        max-width: 179px;
        margin: 0 auto;
        line-height: 34px;
      }
      .example-img {
        margin-top: 35px;
      }
    }
  }
  /* 3, 6 ,9 */
  .example-block:nth-child(3n) {
    padding-left: 45px;
    .btn-global {
      margin: 33px 45px 0 auto;
      @media #{$bootstrap-md} {
        margin: 33px auto 0;
      }
      @media #{$bootstrap-xs} {
        margin: 0 auto;
      }
    }
    @media #{$bootstrap-md} {
      padding-left: 30px;
    }
  }
  /* 2, 4 , 6 */
  .example-block:nth-child(odd) {
    @media #{$bootstrap-xs}   {
      padding-left: 0;
      padding-right: 6px;
    }
  }
  /* 1, 3, 5 */
  .example-block:nth-child(even) {
    @media #{$bootstrap-xs}   {
      padding-left: 5px;
      padding-right: 0;
    }
  }

    .example-title {
      color: #343c3b;
      font-family: $museo-sans-bold;
      font-size: 1.7em;
      line-height: 43px;

      @media #{$bootstrap-md} {
        font-size: 1.6em;
      }
      @media #{$bootstrap-xs} {
        font-size: 1.3em;
      }
    }
    .example-description {
      color: #343c3b;
      font-family: $gotham-pro-regular;
      font-size: 1.3em;
      line-height: 30px;

      @media #{$bootstrap-md} {
        font-size: 1.15em;
      }
      @media #{$bootstrap-xs} {
        font-size: 1.15em;
        max-width: 240px;
        -moz-max-width: 190px;
        margin: 0 auto;
        line-height: 25px;
        br {
          content: "";
        }
      }

      .example-link {
        color: #3097c5;

        @media #{$bootstrap-xs} {
          display: block;
        }
      }
    }
    .example-img {
      width: 100%;
      max-width: 330px;
      height: 350px;
      margin-top: 20px;
      padding: 10px;
      border: 10px solid #926752;
      background-color: white;

      @media #{$bootstrap-xs} {
        margin: 35px auto 20px;
        height: auto;
        border: none;
        outline: none;
        border-top: 10px solid #926752;
        border-bottom: 10px solid #926752;
      }
      @media #{$bootstrap-nano} {
        width: 100%;
      }
    }
    .btn-global {
      max-width: 230px;
      margin: 33px 75px 0 auto;
      line-height: 63px;
      font-family: $gotham-pro-regular;
      box-shadow: 0 0 27.5px 3.5px rgba(0, 0, 0, 0.43);
      background-image: linear-gradient(to top, #e84246 0%, #d12f32 100%);

      @media #{$bootstrap-md} {
        margin: 33px auto 0;
      }
      @media #{$bootstrap-xs} {
        max-width: 174px;
        line-height: 48px;
        font-size: 1.15em;
        margin: 0 auto;
      }
    }
  }

