.examples {
  padding-top: 78px;
  background: url('/img/example-right-img.png') 99% 57% no-repeat;

  .add-row-padding {
    padding-top: 36px;
  }
  .example-block {
    padding-bottom: 52px;
    .example-title {
      color: #343c3b;
      font-family: $museo-sans-bold;
      font-size: 1.7em;
      line-height: 44px;
    }
    .example-description {
      color: #343c3b;
      font-family: $gotham-pro-regular;
      font-size: 1.25em;
      line-height: 30px;
      .example-link {
        color: #3097c5;
      }
    }
    .example-img {
      margin-top: 30px;
      margin-left: 10px;
      width: 308px;
      height: 331px;
      border: 10px solid white;
      outline: 10px solid #926752;
    }
    .example-button {
      width: 100%;
      max-width: 230px;
      margin: 45px auto 0;
      font-family: $gotham-pro-regular;
      font-size: 1.4em;
      text-transform: uppercase;
      line-height: 63px;
      border-radius: 5px;
      border-bottom: 3px solid #d12f32;
      box-shadow: 0 0 27.5px 3.5px rgba(0, 0, 0, 0.43);
      background-image: linear-gradient(to top, #e84246 0%, #d12f32 100%);
      color: white;

      &:active, &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media #{$bootstrap-xs} {
  .examples {
    background-size: 30%;
    background-position: bottom right;
    padding-top: 60px;
    .title {
      width: 55%;
      margin: 0 auto;
      font-size: 1.5em;
      padding-bottom: 35px;
      text-align: center;
      line-height: 34px;
    }
    .line {
      margin: 0 auto;
    }
    .description {
      width: 75%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 40px;
      font-size: 1.125em;
      line-height: 27px;
      text-align: center;
    }
    .add-row-padding {
      padding-top: 0;
    }
    .example-block {
      text-align: center;
      padding-bottom: 25px;
      .example-title {
        font-size: 1.125em;
      }
      .example-img {
        width: 290px;
        display: block;
        margin: 30px auto 0;
      }
      .example-button {
        margin: 45px auto;
      }
    }
  }
}