.footer {
    height: 130px;
    font-family: $museo-sans-regular;
    color: #343333;
    background-color: #f1f5f8;
    .logo-block {
      margin-top: 34px;
      .logo-img {
        float: left;
      }
      .logo-title {
        padding: 10px 0 0 20px;
        margin: 0;
        float: left;
        font-size: 1em;
        line-height: 21px;
      }
    }
    .copyright-block {
      padding-left: 70px;
      margin-top: 37px;
      .adress-img {
        float: left;
      }
      .copyright-target {
        padding-left: 15px;
        margin: 0;
        float: left;
        font-size: 0.875em;
        line-height: 20px;
      }
    }
    .contact-block {
      text-align: right;
      .contact-title {
        margin-top: 20px;
        font-size: 1em;
        line-height: 27px;
      }
      .contact-target {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 27px;
      }
      .contact-footer {
        font-size: 1.125em;
        font-weight: bold;
        line-height: 27px;
        img:last-child {
          padding: 0 5px;
        }
      }
    }
}
@media #{$bootstrap-xs} {
  .footer {
    height: 415px;
    .logo-block {
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      border-bottom: 1px solid rgba(130, 141, 145, 0.54);
      .logo-img {
        float: none;
      }
      .logo-title {
        float: none;
        padding-left: 0;
      }
    }
    .contact-block {
      text-align: center;
      padding: 25px 0 30px;
      border-bottom: 1px solid rgba(130,141,145,.54);
      .contact-title {
        margin-top: 0;
      }
    }
    .copyright-block {
      text-align: center;
      padding: 25px 0 26px;
      margin: 0 auto;
      .copyright-target {
        float: none;
        padding-left: 0;
      }
    }
  }
}