.gallery-title {
  margin-top: 63px;
  margin-bottom: 20px;
  color: #2a2a2a;
  font-family: $museo-sans-black;
  font-size: 2.25em;
  line-height: 46px;
}
.gallery-description {
  margin-top: 15px;
  color: #343c3b;
  font-family: $gotham-pro-regular;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 44px;
}
.gallery-item {
  display: inline-block;
}
.gallery-button {
  width: 301px;
  height: 70px;
  display: block;
  margin: 50px auto;
  color: white;
  background-color: #de393d;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  border-bottom: 3px solid #d12f32;
  &:active, &:hover {
    opacity: 0.8;
  }
}