.gallery {
  padding: 85px 0 50px;

  @media #{$bootstrap-xs} {
    padding: 53px 0;
  }

  .title {
    @media #{$bootstrap-xs} {
      padding-bottom: 25px;
    }
  }
  .description {
    margin-bottom: 15px;
    padding-top: 31px;
    @media #{$bootstrap-xs} {
      margin-bottom: 2px;
      padding-top: 25px;
    }
  }
  .img-block {
    width: 100%;
    height: 330px;
    padding: 10px;
    display: block;

    @media #{$bootstrap-xs} {
      padding: 0;
    }
    @media #{$bootstrap-nano} {
      height: 240px;
    }

    .gallery-img {
      width: 100%;
      height: 100%;

      @media #{$bootstrap-xs} {
        object-fit: cover;
      }
    }
  }
  .img-block:hover .hover-bg,
  .img-block:hover .hover-lypa {
    display: block;
  }

  .hover-bg, .hover-lypa {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .hover-bg {
    margin: 10px;
    -moz-opacity: .7;
    opacity: .7;
    background-color: rgba(146, 103, 82, 0.6);
    background-image: url("../img/popups/lypa.png");
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
      content: '';
      position: absolute;
      left: 3.16%;
      top: 3.16%;
      right: 3.16%;
      bottom: 3.16%;
      border: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
  .carousel-inner>.item {
    -webkit-transition: .1s ease-in-out left;
    transition: .1s ease-in-out left;
    -webkit-transition: .1s, ease-in-out, left;
    -moz-transition: .1s, ease-in-out, left;
    -o-transition: .1s, ease-in-out, left;
    transition: .1s, ease-in-out, left;
  }
  .multi-item-carousel{

    .carousel-inner .active.left { left: 0; }
    .carousel-inner .next        { left:  0; }
    .carousel-inner .prev		 { left: 0; }
    .carousel-control 			 { width:  20%; height: 240px; }
    .btn-next {
      position: absolute;
      background: transparent;
      top: 42%;
      right: 3%;
    }
    .display {
      display: block;
    }
    .btn-prev {
      position: absolute;
      background: transparent;
      top: 42%;
      left: 3%;
    }

   .carousel-control.right {
      right: 0;
    }
  }



  .btn-global {
    margin-top: 59px;
    margin-bottom: 14px;
    line-height: 67px;
    max-width: 300px;
    @media #{$bootstrap-xs} {
      margin-top: 45px;
    }
  }
}
