.header {
  height: 102px;
  font-family: $museo-sans-regular;
  color: #343333;
  background-color: #f1f5f8;

  @media #{$bootstrap-xs} { height: 230px; }

  .logo-block {
    margin-top: 20px;

    @media #{$bootstrap-md} { padding-left: 15px; }
    @media #{$bootstrap-xs} {
      padding: 0;
      margin-top: 30px;
      text-align: center;
    }

    .logo-img {
      float: left;
      @media #{$bootstrap-xs} {
        float: none;
        position: relative;
        left: 10px;
      }
    }

    // Mobile navbar
    .m-toggle {
      position: absolute;
      left: 23px;
      top: 8px;

      &:hover, &:focus {
        background: transparent;
      }
      .icon-bar {
        background: #da0c31;
        margin-top: 8px;
      }
    }
    .contact-mobile {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 27px;
    }
    .contact-mobile-2 {
      font-size: 1.125em;
      font-weight: bold;
      line-height: 27px;
    }
    .whatsapp-mobile {
      position: absolute;
      right: 0;
      top: 0;
      margin: 20px 20px 0 0;
    }
    // End mobile navbar

    .logo-title {
      padding: 10px 0 0 20px;
      margin: 0;
      float: left;
      font-size: 1.15em;
      line-height: 21px;

      @media #{$bootstrap-xs} {
        padding: 6px 0 14px;
        float: none;
        font-size: 1.2em;
      }
    }
  }

  .adress-block {
    padding-left: 50px;
    margin-top: 22px;

    @media #{$bootstrap-md} { padding: 0; }

    .adress-img {
      float: left;
    }
    .adress-target {
      padding-left: 15px;
      margin: 0;
      float: left;
      font-size: 1em;
      line-height: 20px;
    }
  }

  .contact-block {
    text-align: right;
    padding-right: 10px;
    font-family: $museo-sans-bold;

    @media #{$bootstrap-md} {  padding: 0 5px 0 0; }

    .contact-title {
      font-family: $museo-sans-regular;
      font-size: 1.15em;
      line-height: 27px;
    }
    .contact-target {
      font-size: 1.8em;
      line-height: 30px;
    }
    .contact-footer {
      font-size: 1.35em;
      line-height: 27px;
      img:last-child {
        padding: 0 6px;
      }
    }
  }
}


