 .home {
   width: 100%;
   background: url('/img/home-bg-main.png') center top no-repeat;
    .home-image {
      background: url('/img/home2pic.png') 87% 16% no-repeat;
    }
    .home-content {
      margin-top: 70px;
      .home-title {
        padding-top: 31px;
        font-family: $museo-sans-black;
        font-size: 1.875em;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 44px;
        .days {
          background-color: #ffa947;
          color: white;
          white-space: pre-wrap;
        }
      }
      .home-description {
        color: #5a5a5a;
        font-family: $gotham-pro-regular;
        font-size: 1.1875em;
        font-weight: 400;
        line-height: 27px;
      }
      .perfect-img {
        position: relative;
        left: -47px;
        top: 75px;
      }
    }
    .upload-block {
      position: relative;
      padding-bottom: 55px;
      margin-top: 290px;
      background-color: #126b6e;
      border: 2px dashed #ffa947;
      border-radius: 5px;
      box-shadow: 1.8px 14.9px 43.7px 10.3px rgba(0, 0, 0, 0.1);
      .round-block {
        position: absolute;
        left: 0;
        right: 0;
        top: -50px;
        width: 106px;
        height: 106px;
        background-color: #085457;
        border: 2px dashed #ffa947;
        border-radius: 50%;
        margin: 0 auto;
      }
      .round-img {
        display: block;
        margin: 0 auto;
        padding-top: 25px;
      }
      .upload-content {
        margin-top: 80px;
        margin-bottom: 20px;
        text-align: center;
        color: white;
        font-family: $gotham-pro-regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
      }
      .upload-bottom {
        width: 300px;
        height: 76px;
        display: block;
        margin: 0 auto;
        color: white;
        font-family: $gotham-pro-bold;
        background-color: #de393d;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        box-shadow: 0 0 28.5px 3.5px rgba(0, 0, 0, 0.18);
        border-bottom: 3px solid #d12f32;
        &:active, &:hover {
          opacity: 0.8;
        }
        .button-cloud {
          margin-right: 11px;
        }
      }
    }
 }
@media #{$bootstrap-xs} {
 .home {
   padding: 60px 0 86px;
   background: url(/img/mobile/home-pic-mobile.png) top right no-repeat, url(/img/mobile/home-left-img.png) bottom left no-repeat, url(/img/mobile/home-bg-mobile.png) center top no-repeat;
   //background-position-y: -75px, 38px;
   background-position-y: -38px, 32%, -14%;
   background-size: 75px 133px, 25% 20%, 100% 55%;
   .home-image {
    background: none;
     .home-content {
       margin: 0;
       padding: 0;
       .line {
         margin: 0 auto;
       }
       .home-title {
         font-size: 1.5em;
         line-height: 34px;
         text-align: center;
         .days {
           padding: 8px;
         }
       }
       .home-description {
         max-width: 350px;
         padding-top: 20px;
         text-align: center;
         margin: 0 auto;
         font-size: 1em;
         line-height: 24px;
       }
       .perfect-img {
         width: 77%;
         margin: 0 auto;
         display: block;
         left: 0;
         top: 14px;
       }
     }
     .upload-block {
       width: 90%;
       left: 5%;
       margin-top: 90px;
       .upload-content {
         font-size: 1em;
         line-height: 24px;
       }
       .upload-bottom {
         width: 90%;
         max-width: 300px;
       }
     }
   }
 }
}
