 .home {
   width: 100%;
   height: 545px;
   background: #f6f6f6 url('/img/home-bg-main.png') center center no-repeat;
   background-position-y: 33px;
   @media #{$bootstrap-xs} {
     height: auto;
     padding: 60px 0 86px;
     background: url(/img/mobile/home-pic-mobile.png) top right no-repeat,
     url(/img/mobile/home-left-img.png) bottom left no-repeat,
     url(/img/mobile/home-bg-mobile.png) center top no-repeat;
     background-position-y: -36px, 29%, -15%;
     background-size: 75px 133px, 23% 23%, 100% 52%;
     background-color: #f6f6f6;
   }

   .home-image {
     background: url(/img/home-center-pic.png) 56% 7% no-repeat;
     @media #{$bootstrap-md} {
       background-size: 18%;
       background-position: 57% 7%;
     }
     @media #{$bootstrap-xs} {
       background: none;
     }
   }
   .home-content {
     margin-top: 27px;
     @media #{$bootstrap-xs} {
       margin: 0;
       padding: 0;
     }

     .home-title {
       padding-top: 26px;
       font-family: $museo-sans-black;
       font-size: 2.4em;
       text-transform: uppercase;
       line-height: 41px;

       @media #{$bootstrap-md} {
         font-size: 2.3em;
       }
       @media #{$bootstrap-xs} {
         padding-top: 28px;
         font-size: 1.85em;
         line-height: 34px;
         text-align: center;
       }
       @media #{$bootstrap-nano} {  font-size: 1.5em; }

       .days {
         margin-left: -9px;
         background-color: #ffa947;
         color: white;
         white-space: pre-wrap;
         @media #{$bootstrap-xs} {
           padding: 5px;
           margin-left: -2px;
           margin-right: -12px;
         }
       }
     }

     .home-description {
       width: 93%;
       padding-top: 31px;
       color: #5a5a5a;
       font-family: $gotham-pro-regular;
       font-size: 1.37em;
       line-height: 27px;

       @media #{$bootstrap-xs} {
         max-width: 350px;
         padding-top: 23px;
         text-align: center;
         margin: 0 auto;
         font-size: 1.15em;
         line-height: 24px;
       }
     }

     .perfect-img {
       width: 104%;
       position: relative;
       left: -38px;

       @media #{$bootstrap-xs} {
         width: 78%;
         margin: 0 auto;
         display: block;
         left: 0;
         top: 20px;
       }
     }
   }
   .right-home-pic {
     position: absolute;
     top: 162px;
     z-index: 1;
     right: 60px;
   }

   .upload-block {
     padding-bottom: 47px;
     margin-top: 117px;
     position: relative;
     left: -6px;
     background-color: #126b6e;
     border: 2px dashed #ffa947;
     border-radius: 5px;
     box-shadow: 1.8px 14.9px 43.7px 10.3px rgba(0, 0, 0, 0.1);
     z-index: 2;

      @media #{$bootstrap-xs} {
        width: 100%;
        max-width: 440px;
        left: 0;
        margin: 75px auto 0;
        padding-bottom: 49px;

      }
      @media #{$bootstrap-nano} { left: 0; }

      .round-block {
        width: 106px;
        height: 106px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: -50px;
        background-color: #085457;
        border: 2px dashed #ffa947;
        border-radius: 50%;
        @media #{$bootstrap-xs} {
          top: -55px;
        }

      }
      .round-img {
        display: block;
        margin: 0 auto;
        padding-top: 25px;
      }
      .upload-content {
        padding: 80px 0 19px;
        text-align: center;
        font-family: $gotham-pro-regular;
        font-size: 1.28em;
        line-height: 27px;
        padding-bottom: 13px;
        color: white;

        @media #{$bootstrap-md} {
          font-size: 1.15em;
        }
        @media #{$bootstrap-xs} {
          padding: 76px 0 20px;
          line-height: 25px;
          font-size: 1.15em;
        }
        @media #{$bootstrap-nano} {
          font-size: 0.95em;
        }
      }

      .btn-global {
        max-width: 300px;
        line-height: 74px;

        @media #{$bootstrap-xs} {
          line-height: 74px;
        }
        @media #{$bootstrap-nano} {
          max-width: 230px;
        }

        .button-cloud {
          margin-right: 11px;
        }
      }
   }
 }

