.navigation {
  height: 55px;
  background-color: #2d7274;
  .nav-list {
    margin: 0;
    padding: 0;
    text-align: center;
    .list-item {
      display: inline-block;
      margin-right: -4px;
      &:last-child .list-item-link {
        border: none;
      }
      .list-item-link {
        padding: 17px 35px;
        text-decoration: none;
        display: block;
        border-right: 1px solid rgba(255, 255, 255, 0.63);
        color: white;
        font-family: $museo-sans-regular;
        font-size: 1em;
        line-height: 20px;
        &:hover {
          background-color: #de393d;
        }
      }
    }
  }
}
@media #{$bootstrap-md} {
  .navigation .nav-list .list-item .list-item-link {
    padding: 17px 24px;
  }
}
