.pic-property {
  padding: 98px 0 106px;
  background: url(/img/pic-property-bg.png) top center no-repeat;
  background-color: rgba(244,244,244,.49);

  .prop-img {
    position: absolute;
    left: -41px;
    right: 0;
    top: 147px;
    margin: 0 auto;
  }
  .prop-option-1, .prop-option-2,
  .prop-option-3, .prop-option-4 {
    font-family: $gotham-pro-regular;
    .option-title {
      color: #1e2020;
      font-size: 1.3em;
      line-height: 24px;
    }
    .line-big {
      width: 95px;
      height: 2px;
      background-color: #ffa947;
    }
    .option-info {
      padding-top: 10px;
      color: #3d3d3d;
      font-size: 1em;
      line-height: 21px;
    }
  }
  .prop-option-1 {
    max-width: 300px;
    margin-top: 52px;
    padding-left: 70px;
    padding-right: 0;
  }
  .prop-option-2 {
    margin-top: 51px;
    padding-left: 30px;
    .option-title { line-height: 24px; }
  }
  .prop-option-3 {
    padding-left: 5px;
    padding-right: 0;
    margin-top: 106px;
  }
  .prop-option-4 {
    margin-top: 98px;
    padding-left: 54px;
  }
  .prop-button {
    width: 100%;
    max-width: 415px;
    margin: 133px 31% 0;
    display: block;
    font-family: $gotham-pro-bold;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 70px;
    border-radius: 5px;
    border-bottom: 3px solid #d12f32;
    color: white;
    background-image: linear-gradient(to top, #e84246 0%, #d12f32 100%);

    &:active, &:hover {
      opacity: 0.8;
    }
  }
}
@media #{$bootstrap-md} {
  .pic-property {
    .prop-option-1 {
      margin-left: 0;
      padding-right: 0;
      padding-left: 15px;
    }
    .prop-option-3 {
      margin-left: 0;
    }
  }
}
@media #{$bootstrap-xs} {
  .pic-property {
    background: none;
    padding: 60px 0 63px 0;
    .title {
      width: 60%;
      margin: 0 auto;
      font-size: 1.5em;
      padding-bottom: 35px;
      text-align: center;
      line-height: 34px;
    }
    .line {
      margin: 0 auto;
    }
    .description {
      width: 65%;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 40px;
      font-size: 1.125em;
      line-height: 27px;
      text-align: center;
    }
    .prop-option-1, .prop-option-2,
    .prop-option-3, .prop-option-4 {
      .option-title {
        font-family: $gotham-pro-bold;
        font-size: 0.875em;
      }
      .option-info br {
        content: "";
      }
    }
    .prop-option-1 {
      margin: 0;
      padding-left: 20px;
      .option-info {
        width: 90%;
      }

    }
    .prop-option-2 {
      margin: 0;
      padding-left: 15px;
      padding-right: 21px;
    }
    .pic-mobile {
    width: 95%;
  }
    .prop-option-3 {
      padding-left: 19px;
      margin-top: 36px;
      .option-info {
        width: 90%;
      }
    }
    .prop-option-4 {
      margin-top: 42px;
      padding-right: 20px;
      padding-left: 15px;
    }
    .prop-button {
      width: 70%;
      max-width: 380px;
      margin-top: 45px;
    }
  }
}

