.pic-property {
  padding: 85px 0 105px;
  background: url(../img/pic-property-bg.png) top center no-repeat;
  background-color: rgba(244,244,244,.49);

  @media #{$bootstrap-xs} {
   .padding-right {
     padding-right: 0;
   }
    .padding-left {
      padding-left: 0;
    }
  }
  @media #{$bootstrap-xs} {
    padding: 53px 0 62px;
    background-size: cover;

    .title {
      max-width: 305px;
      padding-bottom: 20px;
    }
    .description {

    }
  }
  .description {
    padding-top: 25px;
    @media #{$bootstrap-xs} {
      padding-top: 20px;
    }
  }


  .prop-img {
    margin: 0 auto;
    position: absolute;
    left: -8px;
    right: 0;
    top: -139px;

    @media #{$bootstrap-md} {
      width: 44%;
      left: -60px;
    }
    @media #{$bootstrap-xs} {
      width: 100%;
      max-width: 388px;
      left: 48px;
      top: 3px;
      right: 50px;
    }
    @media #{$bootstrap-nano} { max-width: 300px; left: -3px; right: 0; }
  }
  .prop-option-1, .prop-option-2,
  .prop-option-3, .prop-option-4 {
    font-family: $gotham-pro-regular;

    @media #{$bootstrap-xs} {
      .option-info br {
        content: "";
      }
    }

    .option-title {
      color: #1e2020;
      font-size: 1.3em;
      line-height: 24px;

      @media #{$bootstrap-xs} {
        font-family: $gotham-pro-bold;
        font-size: 1em;
      }
      @media #{$bootstrap-nano} { font-size: 0.9em; }
    }
    .line-big {
      width: 95px;
      height: 2px;
      background-color: #ffa947;
    }
    .option-info {
      padding-top: 12px;
      color: #3d3d3d;
      font-size: 1em;
      line-height: 21px;
      @media #{$bootstrap-nano} { font-size: 0.85em; }
    }
  }
  .prop-option-1 {
    max-width: 285px;
    margin-top: 47px;
    padding-left: 55px;
    padding-right: 0;

    @media #{$bootstrap-md} {
      padding-left: 0;
      max-width: 270px
    }
    @media #{$bootstrap-xs} {
      padding: 0 0 0 5px;
      margin-top: 5px;
      .option-title {
        line-height: 22px;
      }
      .option-info {
        padding-top: 9px;
      }
    }
    @media #{$bootstrap-nano} { margin-top: 0; }

      .option-info br {
        content: "";
      }
  }
  .prop-option-2 {
    margin-top: 49px;
    padding-left: 34px;

    @media #{$bootstrap-md} {
      margin-top: 47px;
      padding-left: 0;
    }
    @media #{$bootstrap-xs} {
      padding: 0 0 0 4px;
      margin-top: 3px
    }
    .option-title { line-height: 24px; }
  }
  .prop-option-3 {
    margin-top: 102px;
    padding: 0 0 0 88px;

    @media #{$bootstrap-md} {
      margin-top: 60px;
      padding-left: 0;
    }
    @media #{$bootstrap-xs} {
      padding-left: 3px;
      margin-top: 328px;
    }
    @media #{$bootstrap-nano} { margin-top: 240px; padding: 0 10px; }
  }
  .prop-option-4 {
    margin-top: 95px;
    padding-left: 60px;

    @media #{$bootstrap-md} {
      margin-top: 50px;
      padding: 0;
    }
    @media #{$bootstrap-xs} {
      margin-top: 334px;
      padding: 0 1px 0 10px;
      .option-info {
        padding-top: 11px;
        line-height: 22px;
      }
    }
    @media #{$bootstrap-nano} { margin-top: 243px; padding: 0;}

  }
  .btn-global {
    max-width: 421px;
    line-height: 66px;
    margin-top: 133px;
    background-image: linear-gradient(to top, #e84246 0%, #d12f32 100%);

    @media #{$bootstrap-xs} {
      max-width: 380px;
      margin-top: 39px;
      line-height: 68px;
      font-size: 1.25em;
    }
    @media #{$bootstrap-nano} {
      line-height: 25px;
      padding: 15px 0 5px;
      max-width: 300px;
    }
  }
}


