
// General settings
#pop-email,
#pop-phone,
#pop-size,
#pop-type,
#pop-krekelur,
#pop-type-option,
#pop-baget,
#pop-package,
#pop-date,
#pop-stock,
#pop-prepay,
#pop-pay {


  .modal-dialog {
    width: 100%;
    position: absolute;
    margin: 0;


    @media #{$bootstrap-sm} {
      margin: 0 auto;
      left: 0 !important;
      right: 0 !important;
    }
    @media #{$bootstrap-xs} {
      margin: 0 auto;
      left: 0 !important;
      right: 0 !important;
    }
  }

  .modal-content {
    border: 3px solid #ffc27c;
    border-radius: 5px;
    box-shadow: 0 0 47.3px 9.7px rgba(0, 0, 0, 0.1);
  }

  .modal-header {
    padding: 0;
    font-family: $gotham-pro-bold;
    background-color: #126b6e;
    border: none;
  }

  // Блок над popapom
  .under-header {
   position: relative;

    @media #{$bootstrap-xs} {
      text-align: center;
    }

    .option-back {
      position: absolute;
      left: 0;
      top: -68px;
      cursor: pointer;
      font-family: $gotham-pro-regular;
      font-size: 1em;
      line-height: 27px;
      text-decoration: underline;
      color: white;

      @media #{$bootstrap-xs} {
        left: 20px;
        top: -165px;
        color: #ff6000;
      }
      @media #{$bootstrap-nano} {
        left: 0;
        top: -125px;
        text-align: center;
        margin: 0 auto;
      }
    }
    .current-type {
      font-family: $gotham-pro-regular;
      color: white;
      position: absolute;
      left: 0;
      top: -50px;
      font-size: 1.5em;

      @media #{$bootstrap-xs} {
        left: 10px;
        top: -140px;
      }
      @media #{$bootstrap-nano} {
        top: -100px;
        font-size: 1em;
      }
    }

    .pic-size {
      width: 180px;
      position: absolute;
      top: -83px;
      right: 445px;
      font-family: $gotham-pro-bold;
      font-size: 1.75em;
      line-height: 58px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 5px;
      color: white;

      @media #{$bootstrap-sm} {
        right: 0;
        margin: 0 auto;
      }
      @media #{$bootstrap-xs} {
        right: 0 !important;
        top: -174px;

      }
      @media #{$bootstrap-nano} {
        right: 0;
        top: -138px;
        line-height: 48px;
        font-size: 1.2em;
        width: 130px;
        margin: 0 auto;
      }
    }

    .price-sum {
      width: 217px;
      position: absolute;
      top: -85px;
      right: -2px;
      font-family: $gotham-pro-regular;
      font-size: 1.7em;
      line-height: 62px;
      border: 1px solid #ddd;
      border-radius: 5px;
      color: white;

      @media #{$bootstrap-sm} {
        margin: 0 auto;
        left: 0;
        right: 0;
      }
      @media #{$bootstrap-xs} {
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #212121;
        background-color: white;
      }
      @media #{$bootstrap-nano} {
        width: 180px;
        line-height: 48px;
        font-size: 1.3em;
        top: -75px;
      }

      .price {
        vertical-align: middle;
        font-family: $gotham-pro-bold;
        font-size: 1.35em;
        color: #df3b3e;
      }

      .rub {
        font-family: $als-rubl-regular;
        font-size: 1em;
        color: #df3b3e;
      }
    }
  }

  .modal-title {
    font-size: 1.7em;
    color: white;

    @media #{$bootstrap-nano} {
      padding-left: 0 !important;
      text-align: center;
      margin: 0 auto;
      font-size: 1.2em;
    }
  }

  .modal-body {
    box-shadow: 0 0 47.3px 9.7px rgba(0, 0, 0, 0.1);

    // Picture width title and price
    .pic-type {
      text-align: center;

      &:hover {
        outline: 3px solid #ffc27c;
        box-shadow: 0 7px 34.8px 5.2px rgba(0, 0, 0, 0.1);
      }

      .type-title {
        font-family: $gotham-pro-regular;
        font-size: 1.1em;
        line-height: 51px;
        color: #141313;

        @media #{$bootstrap-nano} {
          font-size: 0.85em;
          line-height: 40px;
        }
      }

      .price-type {
        font-family: $gotham-pro-bold;
        font-size: 1.7em;
        line-height: 68px;
        color: #f47c47;

        @media #{$bootstrap-nano} {
          font-size: 1em;
          line-height: 44px;
        }
      }
        // Hover efect background

      .img-hover-block {
        width: 240px;
        height: 192px;
        display: inline-block;
        position: relative;

        @media #{$bootstrap-xs} {
          width: 90%;
          height: auto;
        }
      }

      .img-hover-block:hover .hover-bg,
      .img-hover-block:hover .hover-lypa {
        display: block;
      }

      .hover-bg, .hover-lypa {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .hover-bg {
        -moz-opacity: .7;
        opacity: .7;
        background-color: rgba(95, 115, 136, 0.7);
        background-image: url("/img/popups/lypa.png");
        background-position: center center;
        background-repeat: no-repeat;

        &::before {
          content: '';
          position: absolute;
          left: 4.16%;
          top: 4.16%;
          right: 4.16%;
          bottom: 4.16%;
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }

      // Red Button

    .button-true {
      width: 100%;
      font-family: $gotham-pro-bold;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      line-height: 68px;
      font-size: 1.25em;
      border-bottom: 3px solid #d12f32;
      border-radius: 5px;
      color: white;
      background-color: #df3b3e;

      &:hover {
        background-color: #de393d;
        opacity: 0.8;
      }
      &:active {
        background-color: #de393d;
        opacity: 0.6;
        outline: 0;
      }
      &:focus {
        background-color: #de393d;
        outline: 0;
      }

      @media #{$bootstrap-nano} { font-size: 1em; }
    }
        // Text width NO option
    .option-no {
      font-family: $gotham-pro-regular;
      font-size: 1.125em;
      line-height: 27px;
      text-decoration: underline;
      cursor: pointer;
      color: #ff6000;
    }
  }
}

 // First-popup

#pop-email {

  .modal-dialog {
    max-width: 559px;
    top: 20vh;
    left: calc(50% - 277px);
  }

  .modal-title {
    padding: 24px 0 22px 56px;
  }

  .up-header {
    width: 100%;
    position: absolute;
    top: -85px;
    font-size: 2.1em;
    color: #fff;

    @media #{$bootstrap-nano} { font-size: 1.6em; }

    img { margin-right: 20px; }
  }

  .modal-body {
    padding: 30px 0 54px 55px;

    @media #{$bootstrap-xs} {
      padding-left: 15px;
      padding-right: 15px;
    }

    .form-email {
      max-width: 370px;
      font-family: $gotham-pro-regular;

      @media #{$bootstrap-xs} {
        margin: 0 auto;
      }

      .label-email {
        font-size: 1em;
        line-height: 27px;
        color: #444749;
      }

      .input-email {
        width: 100%;
        border: 2px solid #ddd;
        border-radius: 5px;
        line-height: 60px;
      }

      .input-email[placeholder] {
        padding-left: 30px;
        font-size: 1.12em;
        color: #9ea5aa;

        @media #{$bootstrap-nano} {
          font-size: 0.9em;
          padding-left: 20px;
        }
      }

      .button-true {
        margin-top: 22px;

        .button-icon {
          padding-left: 15px;
        }
      }
    }
  }
}

  // Second popup

#pop-phone {

  .modal-dialog {
    max-width: 559px;
    top: 20vh;
    left: calc(50% - 277px);
  }

  .modal-title {
    width: 80%;
    padding: 20px 0 23px 60px;
    line-height: 36px;
  }

  .modal-body {
    padding: 32px 0 45px 41px;

    @media #{$bootstrap-xs} { padding-left: 0; }

    .form-phone {
      max-width: 370px;
      font-family: $gotham-pro-regular;

      @media #{$bootstrap-xs} { margin: 0 auto; }

      .label-phone {
        font-size: 1em;
        color: #444749;
      }

      .input-phone {
        width: 100%;
        border: 2px solid #ddd;
        border-radius: 5px;
        line-height: 68px;
      }

      .input-phone[placeholder] {
        padding-left: 30px;
        font-size: 1.25em;
        color: #9ea5aa;

        @media #{$bootstrap-nano} {
          font-size: 0.9em;
          padding-left: 20px;
        }
      }

      .button-true {
        margin-top: 20px;
      }
    }
  }
}

  //Third Popup
#pop-size {

  .modal-dialog::before {
    content: "Дизайнер уже получил файлы и начал работу!";
    padding-bottom: 40px;
    display: block;
    font-family: $gotham-pro-bold;
    font-size: 2.15em;
    line-height: 38px;
    color: white;

    @media #{$bootstrap-sm} { text-align: center; }
    @media #{$bootstrap-xs} {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    @media #{$bootstrap-nano} {
      font-size: 1.4em;
      padding-bottom: 10px;
      line-height: 30px;
    }
  }

  .modal-dialog {
    max-width: 800px;
    left: calc(50% - 400px);
    top: 3vh;
    @media #{$bootstrap-nano} { top: 7vh; }
  }

  .modal-title {
    padding: 26px 0 26px 58px;
    line-height: 28px;

    @media #{$bootstrap-xs} {
      width: 75%;
      padding-left: 28px;
    }
    @media #{$bootstrap-nano} {
      font-size: 1.2em;
      margin: 0 auto;
    }
  }
  .modal-body {
    padding: 36px 70px 58px 58px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;

    @media #{$bootstrap-xs} { padding: 35px 30px 54px 30px; }
    //@media #{$bootstrap-nano} { max-height: calc(80vh - 170px);}
    .form-size {

      .radio-size {
        width: 26px;
        height: 26px;
        margin: 0;
        margin-top: 8px;
      }

      .label-size {
        display: inline;
        font-family: $gotham-pro-regular;
        font-size: 1.15em;
        color: #535556;

        @media #{$bootstrap-nano} { font-size: 0.65em; }
      }

      .radio-size:checked + .label-size {
        font-family: $gotham-pro-bold;
        color: #3962b5;
      }
      .radio-size + .label-size {
        cursor: pointer;
      }
      .radio-size:not(checked) {
        position: absolute;
        opacity: 0;
      }
      .radio-size:not(checked) + .label-size {
        padding: 5px 0 0 35px;
        position: relative;
        line-height: 40px;
      }
      .radio-size:not(checked) + .label-size:before {
        content: '';
        width: 26px;
        height: 26px;
        position: absolute;
        top: -3px;
        left: 0;
        border: 3px solid #3962b5;
        border-radius: 50%;
        background: #FFF;
      }
      .radio-size:not(checked) + .label-size:after {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: 3px;
        left: 6px;
        border-radius: 50%;
        background: #3962b5;
        opacity: 0;
        transition: all .2s;
      }
      .radio-size:checked + .label-size:after {
        opacity: 1;
      }
      .button-true {
        max-width: 260px;
        margin-top: 37px;
        @media #{$bootstrap-nano} { width: 220px; }
      }
    }
    .pic-size {
      padding: 8px 0 0 25px;
      background: url("/img/popups/form-size-right.png") center right no-repeat;
      background-position-y: -16px;

      @media #{$bootstrap-xs} {
        padding: 0;
        background: none;
      }

      img {
        @media #{$bootstrap-nano} { width: 100%; }
      }

      .size-title::before {
        content: "";
        width: 15px;
        height: 15px;
        margin: 0 10px -2px;
        display: inline-block;
        border-radius: 50%;
        background-color: #f7741d;
      }

      .size-title {
        font-family: $gotham-pro-bold;
        font-size: 1.15em;
        line-height: 40px;
        color: #3962b5;

        @media #{$bootstrap-nano} {
          font-size: 0.7em;
          text-align: center;
        }
      }

      .price-size {
        width: 250px;
        margin: 120px 0 0 37px;
        padding: 22px 0 10px 20px;
        border-bottom: 1px solid #ddd;
        font-family: $gotham-pro-regular;
        font-size: 1.25em;
        color: #413e3e;

        @media #{$bootstrap-sm} { margin-left: 0; }
        @media #{$bootstrap-xs} {
          width: 100%;
          max-width: 110px;
          padding: 0;
          margin: 140px 0 0 40px;
        }
        @media #{$bootstrap-nano} {
          margin: 25px auto 0;
        }

        .price {
          vertical-align: middle;
          font-family: $gotham-pro-bold;
          font-size: 1.8em;
          line-height: 27px;
          color: #ff8a04;

          .rub {
            font-family: $als-rubl-regular;
            font-size: 1em;
          }
        }
      }
    }
  }
}

 //Third Popup

#pop-type {

  .modal-dialog {
    max-width: 898px;
    left: calc(50% - 450px);
    top: 13vh;
    @media #{$bootstrap-nano} { top: 20vh;}
  }

  .modal-title {
    padding: 26px 0 26px 60px;
    line-height: 27px;

    @media #{$bootstrap-sm} {
      padding-left: 0;
      text-align: center;
    }
    @media #{$bootstrap-xs} {
      padding-left: 0;
      text-align: center;
    }
    @media #{$bootstrap-nano} { font-size: 1.2em; }
  }

  .under-header {

    .price-sum {
      @media #{$bootstrap-xs} { background-color: transparent; }
    }
  }

  .modal-body {
    padding: 23px 52px 40px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;


    @media #{$bootstrap-xs} { padding: 40px 30px 52px; }
    @media #{$bootstrap-nano} { padding: 40px 25px 52px; }

    .pic-type {

      @media #{$bootstrap-nano} { padding: 0; }

      &:nth-child(2) .price-type,
      &:nth-child(5) .price-type { color: #ff3a13; }

      img {
        @media #{$bootstrap-xs} { width: 90% }
      }
    }

    .button-true {
      max-width: 300px;
      margin: 6px auto 0;
      display: block;
    }
  }
}

    // fourth popup

#pop-type-option {

  .modal-dialog {
    max-width: 898px;
    left: calc(50% - 450px);
    top: 13vh;
    @media #{$bootstrap-xs} { top: 25vh;}
    @media #{$bootstrap-nano} { top: 20vh;}
  }

  .modal-title {
    width: 535px;
    padding: 30px 0 25px 60px;
    line-height: 32px;

    @media #{$bootstrap-sm} { padding-left: 40px; }
    @media #{$bootstrap-xs} {
      width: 100%;
      max-width: 500px;
      padding-left: 40px;
    }
    @media #{$bootstrap-nano} {
      width: 90%;
      margin: 0 auto;
      padding-left: 0;
      font-size: 1em;
      text-align: center;
    }
  }

  .under-header {

   .price-sum {
      @media #{$bootstrap-sm} { margin-right: 0; }
    }
  }

  .modal-body {
    padding: 41px 174px 50px 165px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;
    @media #{$bootstrap-sm} { padding: 41px 100px 50px; }
    @media #{$bootstrap-xs} { padding: 41px 30px 35px; }
    //@media #{$bootstrap-nano} { max-height: calc(71vh - 170px); }

    .pic-type {
      text-align: center;

      @media #{$bootstrap-xs} { padding: 0; }

      &:nth-child(2) .price-type { color: #ff3a13; }

      .type-img {
        width: 100%;
        height: 100%;
      }

      .type-title {
        @media #{$bootstrap-xs}  { font-size: 0.9em; }
        @media #{$bootstrap-nano} {
          width: 130px;
          margin: 0 auto;
          font-size: 0.95em;
          line-height: 24px;
        }
      }
    }

    .button-true {
      max-width: 220px;
      margin: 48px 35px 0 -13px;

      @media #{$bootstrap-nano} {
        margin: 20px auto;
        display: block;
      }
    }
  }
}

 // Pop-krekelur


#pop-krekelur {

  .modal-dialog {
    max-width: 898px;
    left: calc(50% - 450px);
    top: 13vh;
    @media #{$bootstrap-xs} { top: 25vh;}
    @media #{$bootstrap-nano} { top: 20vh;}
  }

  .modal-title {
    padding: 30px 0 25px 60px;
    line-height: 32px;
    max-width: 80%;

    @media #{$bootstrap-xs} {
      width: 100%;
      padding-left: 40px;
    }
    @media #{$bootstrap-nano} {
      width: 90%;
      margin: 0 auto;
      padding-left: 0;
      font-size: 1em;
      text-align: center;
    }
  }

  .under-header {

    .price-sum {
      @media #{$bootstrap-sm} { margin-right: 0; }
    }
  }

  .modal-body {
    padding: 41px 174px 50px 165px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;
    @media #{$bootstrap-sm} { padding: 41px 100px 50px; }
    @media #{$bootstrap-xs} { padding: 41px 30px 35px; }
    //@media #{$bootstrap-nano} { max-height: calc(71vh - 170px); }

    .pic-type {
      text-align: center;

      @media #{$bootstrap-xs} { padding: 0; }

      &:nth-child(2) .price-type { color: #ff3a13; }

      .type-img {
        width: 100%;
        height: 100%;
      }

      .type-title {
        @media #{$bootstrap-xs}  { font-size: 0.9em; }
        @media #{$bootstrap-nano} {
          width: 130px;
          margin: 0 auto;
          font-size: 0.95em;
          line-height: 24px;
        }
      }
    }

    .button-true {
      max-width: 220px;
      margin: 48px 35px 0 -13px;

      @media #{$bootstrap-nano} {
        margin: 20px auto;
        display: block;
      }
    }
  }
}
  // Fifth popup
#pop-baget {

  .modal-dialog {
    max-width: 899px;
    left: calc(50% - 450px);
    top: 13vh;
    @media #{$bootstrap-xs} { top: 25vh;}
    @media #{$bootstrap-nano} { top: 20vh;}
  }

  .modal-title { padding: 27px 0 0 60px; }

  .under-header {

    .option-back {

      @media #{$bootstrap-nano} {
        left: 0;
        top: -130px;
        margin: 0 auto;
      }
    }

    .price-sum {
      @media #{$bootstrap-sm} { margin-right: 0; }
    }

    .pic-size {
      right: 400px;
      @media #{$bootstrap-sm} { right: 0; }
      @media #{$bootstrap-xs} { right: 0; }
      @media #{$bootstrap-nano} {
        right: 0;
        margin: 0 auto;
      }
    }
  }

  .post-title {
    padding: 0 0 25px 60px;
    font-family: $gotham-pro-regular;
    font-size: 1.15em;
    line-height: 34px;
    color: white;

    @media #{$bootstrap-sm} { font-size: 1em; }
    @media #{$bootstrap-xs} {
      width: 90%;
      display: block;
      font-size: 1em;
    }
    @media #{$bootstrap-nano} {
      margin: 0 auto;
      padding-left: 0;
      font-size: 0.9em;
      text-align: center;
    }
  }

  .modal-body {
    padding: 40px 8px 31px 15px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;
    @media #{$bootstrap-sm} { padding: 40px 35px 31px; }
    @media #{$bootstrap-xs} { padding: 40px 13px 31px; }
    @media #{$bootstrap-nano} { padding: 15px 50px 31px;}

    .pic-type {
      @media #{$bootstrap-nano} { width: 100%; }

      .img-hover-block {
        width: 220px;
        @media #{$bootstrap-xs} { width: 180px; }
      }

      &:first-child .price-type {
        position: relative;
        //top: 20px;
        //@media #{$bootstrap-sm} { top: 6px; }
        //@media #{$bootstrap-xs} { top: 10px; }
      }

      &:nth-child(2) .price-type { color: #ff3a13; }

      // Bootstrap carousel  style
      //Fix drag on slide move
      #carousel-1, #carousel-2, #carousel-3 {
        height: auto;
        width: auto;
        overflow: hidden;
      }

      .carousel-inner>.item>img {
        width: 100%;
        height: 192px;
        @media #{$bootstrap-xs} { height: 157px; }
        @media #{$bootstrap-nano} { height: 125px; }
      }

      .icon-left {
        width: 43px;
        height: 45px;
        margin-top: 50px;
        margin-left: -16px;

        @media #{$bootstrap-sm} { margin-left: -16px; }
        @media #{$bootstrap-xs} {
          width: 35px;
          height: 37px;
          margin-top: 40px;
          margin-left: -13px;
        }
        @media #{$bootstrap-nano} {
          margin-top: 24px;
          margin-left: -14px;
        }
      }

      .icon-right {
        width: 43px;
        height: 45px;
        margin-top: 50px;
        margin-left: -26px;

        @media #{$bootstrap-sm} { margin-left: -27px; }
        @media #{$bootstrap-xs} {
          width: 35px;
          height: 37px;
          margin-top: 40px;
          margin-left: -21px;
        }
        @media #{$bootstrap-nano} {
          margin-top: 24px;
          margin-left: -22px;
        }
      }
    }

    .for-nano {
      @media #{$bootstrap-nano} { width: 100%; }

      .button-true {
        max-width: 300px;
        margin: 45px 32px 21px -3px;

        @media #{$bootstrap-sm} {
          margin: 50px auto 20px;
          display: block;
        }
        @media #{$bootstrap-xs} {
          margin: 50px auto 20px;
          display: block;
          font-size: 1.1em;
        }
      }

      .hover-block-small {
        top: 49px;
        right: 37px;
        float: right;
        position: relative;

        @media #{$bootstrap-sm} {
          margin: 0 auto;
          left: 0;
          float: none;
          top: 5px;
        }
        @media #{$bootstrap-xs} {
          margin: 0 auto;
          left: 0;
          top: 5px;
          width: 95px;
          float: none;
        }
      }

      .hover-block-small:hover .hover-bg,
      .hover-block-small:hover .hover-lypa {
        display: block;
      }
      .hover-bg, .hover-lypa {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .hover-bg {
        -moz-opacity: .7;
        opacity: .7;
        background-color: rgba(95, 115, 136, 0.7);
        background-image: url("/img/popups/lypa-small.png");
        background-position: center center;
        background-repeat: no-repeat;
        &::before {
          content: '';
          position: absolute;
          left: 2.08%;
          top: 2.08%;
          right: 2.08%;
          bottom: 2.08%;
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}
 // Six popup package
#pop-package {

  .modal-dialog {
    max-width: 898px;
    left: calc(50% - 450px);
    top: 15vh;
    @media #{$bootstrap-xs} {
      top: 25vh;
    }
  }

  .modal-title {
    padding: 30px 0 25px 60px;
    line-height: 32px;

    @media #{$bootstrap-sm} { padding-left: 40px; }
    @media #{$bootstrap-xs} {
      width: 100%;
      max-width: 500px;
      padding-left: 40px;
    }
    @media #{$bootstrap-nano} {
      width: 90%;
      margin: 0 auto;
      padding-left: 0;
      font-size: 1.2em;
      text-align: center;
    }
  }

  .under-header {

    .option-back {
      @media #{$bootstrap-nano} {
        left: 0;
        right: 0;
        top: -200px;
        margin: 0 auto;
      }
    }

    .pic-size {
      right: 400px;

      @media #{$bootstrap-sm} { right: 0; }
      @media #{$bootstrap-xs} { right: 0; }
      @media #{$bootstrap-nano} {
        right: 0;
        margin: 0 auto;
      }
    }
    .price-sum {
      @media #{$bootstrap-sm} { margin-right: 0; }
    }
  }

  .modal-body {
    padding: 73px 111px 50px 174px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;

    @media #{$bootstrap-sm} { padding: 41px 75px 50px; }
    @media #{$bootstrap-xs} { padding: 41px 30px 35px; }
    @media #{$bootstrap-nano} { padding: 41px 45px 35px; }

    .pic-type {
      text-align: center;
      margin-right: 20px;
      padding: 0;

      &:nth-child(2) .price-type {
        color: #ff3a13;
      }
      @media #{$bootstrap-sm} { margin: 0; }
      @media #{$bootstrap-xs} {  padding: 0 10px; margin: 0;  }
      @media #{$bootstrap-nano} { width: 100%; }

      .type-img {
        width: 100%;
        height: 100%;

        @media #{$bootstrap-xs} { width: 194px; height: 155px; }
      }

      .type-title {
        font-size: 1em;

        @media #{$bootstrap-xs} { font-size: 0.85em; }
        @media #{$bootstrap-nano} {
          margin: 15px auto;
          font-size: 0.95em;
          line-height: 24px;
        }
      }
    }

    .button-true {
      max-width: 300px;
      margin: 48px 30px 0 -67px;

      @media #{$bootstrap-sm} {
        margin: 0;
        margin-top: 50px;
        margin-right: 20px;
      }
      @media #{$bootstrap-xs} {
        max-width: 220px;
        margin: 34px 20px 34px 0;
      }
      @media #{$bootstrap-nano} {
        margin: 20px auto;
        display: block;
      }
    }

    .option-no {

      @media #{$bootstrap-xs} {
        max-width: 210px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
  // Seven popup
#pop-date {

  .modal-dialog {
    max-width: 561px;
    left: calc(50% - 280px);
    top: 5vh;
  }

  .modal-title {
    width: 60%;
    padding: 28px 0 27px 58px;
    line-height: 30px;

    @media #{$bootstrap-nano} { font-size: 1.2em; }
    @media #{$bootstrap-xs} {
      width: 90%;
      padding-left: 0;
      margin: 0 auto;
      text-align: center;
    }
  }

  .modal-body {
    padding: 42px 80px 60px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;

    @media #{$bootstrap-nano} { padding: 15px; }

    section .datepicker-title {
      padding-bottom: 42px;
      color: #444749;
      font-family: $gotham-pro-regular;
      font-size: 1.285em;
      text-align: center;

      @media #{$bootstrap-nano} { font-size: 1em; }
    }

    section .single {
      width: 255px;
      margin: 0 auto;
      border-radius: 6px;
      box-shadow: 0 20px 45px rgba(1, 1, 1, 0.15);

      .pickmeup {
        background-color: white;

        .pmu-instance {
          padding: 0;
          width: 100%;
          height: 100%;

          nav {
            height: 20px;

            .pmu-prev,
            .pmu-next {
              width: 24px;
              height: 30px;
              position: relative;
              top: -18px;
            }

            .pmu-month {
              width: 85%;
              color: black;
              font-family: $gotham-pro-bold;
              font-size: 1.15em;
              line-height: 0;
              text-transform: uppercase;
            }
          }

          .pmu-day-of-week {
            height: 50px;
            padding: 0 20px;
            background-color: #126b6e;

            div {
              font-size: 11px;
              font-family: $montserrat-regular;
              color: white;
              padding-top: 15px;
              padding-left: 10px;
              width: 30px;
            }
          }

          .pmu-years,
          .pmu-months {

            div { color: #7d888a; }

            .pmu-selected {
              color: white !important;
              background-color: #ffa947;
            }
          }

          .pmu-days {
            padding: 15px 20px;
            color: #7d888a;

            div {
              width: 30px;
              padding: 6px;
              color: #7d888a;
              font-family: $montserrat-regular;
              font-size: 11px;
            }

            .pmu-today {
              color: #fff !important;
              background-color: #126b6e;
              border-radius: 50%;
            }

            .pmu-not-in-month {
              color: #000 !important;
            }

            .pmu-selected {
              color: white !important;
              background-color: #ffa947;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .button-true {
      width: 255px;
      margin: 40px auto 20px;
      display: block;
    }
  }
}
 // Eight popup block

 #pop-stock {

  .modal-dialog {
    max-width: 900px;
    left: calc(50% - 450px);
    top: 13vh;
    @media #{$bootstrap-xs} {
      top: 25vh;
    }
    @media #{$bootstrap-nano} {
      top: 20vh
    }
  }

  .under-header {

    .stock-img {
      position: absolute;
      top: 0;
      left: 62px;
      z-index: 1;

      @media #{$bootstrap-nano} { left: 15px; height: 110px; }
    }

    .pic-size { right: 400px; }
  }

  .modal-title {

    padding: 28px 0 26px 168px;
    @media #{$bootstrap-xs} { padding: 20px 0 20px 168px; }
    @media #{$bootstrap-nano} {
      width: 68%;
      margin-left: 25%;
      text-align: center;
    }
  }

  .modal-body {
    padding: 46px 85px 46px 60px;
    background: url("/img/popups/limit-edition.png") right bottom no-repeat;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;

    @media #{$bootstrap-xs} {
      padding: 65px 85px 46px 75px;
      background: none;
    }
    @media #{$bootstrap-nano} { padding: 46px 25px 60px; }

    .stock-left-block {
      font-family: $gotham-pro-regular;

      @media #{$bootstrap-xs} { padding: 0; }

      .stock-content {
        font-size: 1.57em;
        line-height: 35px;
        color: #0d7477;

        @media #{$bootstrap-nano} {
          width: 90%;
          margin: 0 auto;
          font-size: 1.2em;
          max-height: calc(75vh - 170px);
          overflow-y: auto;
        }
      }

      .stock-info {
        margin: 31px 0 82px;
        font-size: 1.15em;
        line-height: 19px;
        color: #636363;
        @media #{$bootstrap-xs} { margin: 26px 0 26px; }
        @media #{$bootstrap-nano} {
          width: 90%;
          margin: 26px auto;
        }
      }

      .pic-size {

        @media #{$bootstrap-nano} {  text-align: center; }
        img #{$bootstrap-nano} { width: 90%; }
      }

      .button-true {
        max-width: 300px;
        width: 80%;
        @media #{$bootstrap-xs} { margin-top: 47px; }
        @media #{$bootstrap-nano} {
          margin: 20px auto;
          display: block;
        }
      }

      .option-no {
        padding: 25px 0 0 63px;
        @media #{$bootstrap-nano} { padding: 0; text-align: center; }
      }
    }
  }
}

 // Nine popup block

#pop-prepay,
#pop-pay {

  .modal-dialog {
    max-width: 900px;
    left: calc(50% - 450px);
    top: 2vh;

    @media #{$bootstrap-nano} { top: 5vh; }
    @media #{$bootstrap-xs} {
    }

  }

  .modal-header {

    @media #{$bootstrap-sm} { height: 90px; text-align: center; }
    @media #{$bootstrap-xs} { height: 90px; text-align: center; }
  }
  .modal-title {
    padding: 30px 149px 28px 60px;
    display: inline-block;

    @media #{$bootstrap-sm} { padding: 0; margin-top: 23px; }
    @media #{$bootstrap-xs} { padding: 0; margin-top: 23px; }
  }

  .print-page {
    margin: 31px 147px 0 0;
    float: right;
    font-family: $gotham-pro-regular;
    font-size: 1em;
    line-height: 27px;
    text-decoration: underline;
    color: #ff815f;

    @media #{$bootstrap-sm} { margin: 0; float: none; }
    @media #{$bootstrap-xs} { margin: 0; float: none; }
  }

  .modal-body {
    padding: 50px;
    //max-height: calc(90vh - 170px);
    //overflow-y: auto;

    @media #{$bootstrap-xs} { padding: 45px 46px 43px 47px; }
    @media #{$bootstrap-nano} { padding: 15px; }

    .prepay-info {
      color: #636363;
      font-family: $gotham-pro-regular;
      font-size: 1.1em;
      line-height: 24px;

      &:first-child {
        max-width: 475px;
        padding-bottom: 30px;
        font-size: 1.55em;
        line-height: 34px;
        color: #0d7477;

        @media #{$bootstrap-nano} {
          padding-bottom: 15px;
          font-size: 1.1em;
        }
      }

      &:nth-child(2) {
        max-width: 385px;
        padding: 15px 0;
        border-top: 1px solid #ebebeb;

        @media #{$bootstrap-nano} {
          font-size: 1em;
          padding: 15px 0;
        }
      }

      &:nth-child(4) {
        padding: 48px 0 20px;

        @media #{$bootstrap-nano} {  padding: 20px 0; }
      }

      &:nth-child(5) {
        line-height: 54px;

        @media #{$bootstrap-nano} { line-height: 24px; }
      }

      .order-number,
      .us-number {
        color: #212121;
        vertical-align: middle;
        padding-left: 20px;
        font-family: $gotham-pro-bold;
        font-size: 1.9em;
        line-height: 24px;
      }
      .us-number {
        padding: 20px 0;
        line-height: 50px;
        color: #1b1b1b;

        @media #{$bootstrap-nano} { font-size: 1.5em; }
      }
      .price-number {
        color: #393939;
        padding-left: 20px;
        font-family: $gotham-pro-bold;
        font-size: 1.125em;
        line-height: 24px;
      }
    }
    .found-us {
      width: 100%;

      @media #{$bootstrap-nano} {
        margin-top: 20px;
        height: 180px;
      }
    }
  }
}
