.video {
  padding: 8px 0 40px;
  background: url('/img/video-left-hand.png') left 75% no-repeat;

  @media #{$bootstrap-xs} {
    padding: 125px 0 148px;
    background-size: 50%;
    background-position: left bottom;

    .title { max-width: 380px; }
    .description {  max-width: 300px; padding-top: 18px; }
  }
  .youtube-block {
    margin-top: 20px;
    position: relative;
    left: 172px;
  }
  .youtube-block-mobile {
    position: relative;
    margin: 0;
    text-align: center;
    left: 0;
    top: 0;
  }
}

