.video {
  padding: 52px 0 50px;
  background: url('/img/video-left-hand.png') left 75% no-repeat;

  @media #{$bootstrap-xs} {
    padding: 125px 0 148px;
    background-size: 50%;
    background-position: left bottom;

    .title { max-width: 380px; }
    .description {  max-width: 300px; padding-top: 18px; }
  }
  .youtube-block {
    margin-top: 20px;

    iframe {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 770px;
      height: 429px;

    }
  }
}

